input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    background-image: url(../img/Fondo_index.jpg);
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    
}

h1 {
    color: white;
    align-items: center;
    text-align: center;
    margin: 70px;
    background-color: rgba(148, 148, 148, 0.603);
}

.active {
    font-weight: bolder;
}

.card {
    background-color: rgba(148, 148, 148, 0.603) !important;
}

a {
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
}

label {
    text-align: left !important;
}

tfoot {
    font-weight: bold !important;
}
#miDiv{
    display: none;
}

#Respuesta{
    display: none;
    padding: 1px;
    margin-top: -35px;
}
.aste {
    color: red;
}
.fondonav{
    background-color: rgba(148, 148, 148, 0.603) !important;;
}
